@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Page Container Styles */
.userprofile-container {
  display: flex;
  min-height: 100vh;
  background-color: #e6f3ff;
}

/* Main Content Styles */
.profile-page-main-content {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 240px;
}

/* Feed Styles */
.profile-page-feed {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 20px;
  max-width: 100%; /* Set a maximum width */
}

/* Feed Container Styles */
.profilepage-feed-pictures-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Add some space between user pictures */
  text-align: center;
  max-width: 100%; /* Set a maximum width for the container */
}

.profilepage-feed-picture-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Maintain a square aspect ratio (1:1) */
  background-color: #e6f3ff49;
  overflow: hidden;
  border-radius: 10px; /* Adjust the border-radius as needed */
}

.profilepage-feed-picture-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Adjust the border-radius as needed */
  border: 1px solid #ccc;
}


.profilepage-follower-following {
    display: flex;
  margin-bottom: 10px;
  font-weight: bold;
  color: #d6baff;
  justify-content: flex-start;
}

.profilepage-info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start; /* Align items to the start (top) */
}

.profilepage-username {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}
.profilepage-username h2 {
  font-size: 33px;
}

.profilepage-username h2 h3{
  margin: 0; /* Remove any margin for the h3 element */
  font-size: 20px;
  margin-top: 40px;
  margin-right: 25px; /* Lisätään tilaa sanojen väliin */

}

.profilepage-username h2 p {
  font-size: 20px;
}

.profilepage-username p {
  font-size: 20px;
  margin-top: 40px;
}

/* PROFIILIKUVA */
.profilepage-profilepicture-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right */
  margin-top: 10px;
  width: 20%;
}

.profilepage-profilepicture {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
  border: 3px solid #d4e6ff;
}



/* Icons Styles */
.profilepage-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.profilepage-icon {
  width: 28px;
  height: auto;
  padding-right: 10px;
}

.profilepage-likes {
  text-align: left;
  margin-left: auto;
  padding-right: 15px;
}

/* Picture Container Styles */
.profilepage-picture-container {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
  width: 100%;
}

.profilepage-picture-background {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.profilepage-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Pictures Container Styles */
.profilepage-pictures-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* Add some space between user pictures */
  text-align: center;
}

.profilepage-pictures-container .profilepage-picture-container {
  width: 100%;
  height: 100%;
  background-color: #e6f3ff49;
  margin: 5px; /* Add margin around each picture container */
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .profilepage-container {
    flex-direction: row;
  }

  .profilepage-main-content {
    flex: 3;
  }

  .profilepage-picture-container {
    width: calc(33.33% - 20px);
  }
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .profilepage-container {
    justify-content: center;
  }

  .profilepage-main-content {
    margin-left: 0; /* Adjusted for smaller screens */
  }

  .profilepage-info {
    align-items: center; /* Align items to the center */
    flex-direction: column;
  }

  .profilepage-username {
    margin-bottom: 10px;
  }

  .profilepage-picture-container {
    margin-top: 10px;
  }

  .profilepage-follow-button-container {
    margin-bottom: 20px;
  }

  .profilepage-picture-container {
    width: 100%;
    margin: 10px 0;
  }

  .profilepage-feed-pictures-container {
    grid-template-columns: 1fr; /* Make feed pictures align under each other */
  }

  .profilepage-follower-following {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #d6baff;
  justify-content: center;
}
}
