
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Base Styles */
.settings-page-container {
  display: flex;
  min-height: 100vh;
  background-color: #e6f3ff;
}

.settings-main-content {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 240px;
}

.settings-feed {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 10px;
}

.settings-feed h1 {
  text-align: center;
  align-items: center;
}

.setting-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6f3ff;
  width: 40%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 20px 20px;
  box-sizing: border-box;
}

.textbox,
.biotextdiv,
.passtextdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 40%;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
}


.setting-box h3{
  margin: 1px;
  font-size: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.setting-box label{
  margin: 1px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.biotext {
  padding: 10px;
  border-radius: 5px;
}

.setting-box input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.setting-box button:hover {
  background-color: #45a049;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 0 20px;
}

.textbox {
  margin-bottom: 5px;
  padding: 40px;
  border-radius: 5px;
}

.line2::after {
  content: "";
  display: block;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  width: 100%;
  padding-bottom: 1rem;
}

.dogprofilepicture {
  height: 110px;
  width: 110px;
  border-radius: 5px;
  margin-left: 60px;
}




/* Additional Styles for Improved Responsiveness */
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column; /* Change to a column layout on smaller screens */
    text-align: center; /* Center align text within the row */
    margin: 0;
  }
  .row > * {
    width: 100%; /* Make child elements take full width */
    margin-bottom: 15px; /* Add some spacing between elements */
  }
  
  .dogprofilepicture {
    margin-left: auto;
    margin-right: auto;
  }

  .dogprofilepicture {
  display: none;
}

.textbox{
  display: none;
}

.biotextdiv{
  display: none;

}

.passtextdiv{
  display: none;
}

}

@media screen and (max-width: 767px) {
  .settings-main-content {
    margin-left: 0; /* Adjusted for smaller screens */
  }
}